@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.conteudo{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.formulario {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
}

.campo.error input{
    border-color: #ff4400;
}

.campo.error .erro {
    color: #ff4400;
    visibility: visible;
}

.campo__composto__elemento.error a {
    color: #ff4400;
    visibility: visible;
}

.campo__composto__elemento.error input {
    border-color: #ff4400;
}

.campo__composto__elemento a {
    visibility: hidden;
}

.campo__composto.error input{
    border-color: #ff4400;
}

.campo a {
    visibility: hidden;
}

.texto {
    display: flex;
    flex-direction: column;
}

.link__voltar {
    font-family: "Poppins", serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #57534E;
    font-weight: 400;
    font-size: 16px;
    gap: 1%;
}

.texto__titulo {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
}

.texto__paragrafo {
    font-family: "Poppins", serif;
    font-size: 16px;
    color: #57534E;
}

.informacao__participante{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo__nivel2 {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 600;
    border: 2px;
    margin-bottom: 1%;
}

.campo {
    display: flex;
    flex-direction: column;
}

.label__elementos {
    color: #57534E;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
}

.input__big {
    width: 528px;
    height: 48px;
    border-radius: 8px;
    border-color: #D6D3D1;
    font-size: 16px;
    font-family: "Poppins", serif;
}

.input__big:focus {
    color: #292524;
    border-color: #F3541C;
}

.label__file {
    border: Dashed 2px #D6D3D1;
    border-radius: 8px;
    width: 528px;
    height: 160px;
    font-family: "Poppins", serif;
    color: #A8A29E;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label__file.error {
    border: Dashed 2px #ff4400;
    border-radius: 8px;
    width: 528px;
    height: 160px;
    font-family: "Poppins", serif;
    color: #ff4400;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_file {
    width: 40px;
    height: 40px;
}

.paragrafo_file {
    width: 163px;
    height: 48px;
}

.input__arquivo {
    display: none;
}

.enderecoResidencial {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.campo__composto {
    display: flex;
    gap: 20px;
}

.campo__composto__elemento {
    display: flex;
    flex-direction: column;
}

.input__medium {
    width: 332px;
    height: 48px;
    border-radius: 8px;
    border-color: #D6D3D1;
    font-size: 16px;
    font-family: "Poppins", serif;
}

.input__small {
    width: 176px;
    height: 48px;
    border-radius: 8px;
    border-color: #D6D3D1;
    font-size: 16px;
    font-family: "Poppins", serif;
}

.selecao_trilhas {
    display: flex;
    flex-direction: column;

}

.elementos_selecao {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    width: 535px;
    margin-top: 3%;
}

.label_selecao {
    width: 256px;
    height: 120px;
    border: solid #D6D3D1 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.label_selecao:click {
    border-color: #E43A12;
}

.selecao_radio {
    margin-right: 225px;
    margin-top: 9px;
    margin-bottom: 1%;
    color: #E43A12;
}

.selecao_radio:checked {
    accent-color: #E43A12;
}

.nome_trilha {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 16px;
}

.termo {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Poppins", serif;
    font-weight: 400;
    gap: 12px;
    width: 492px;
    font-size: 16px;
}

.termo__link {
    color: #E43A12;
    text-decoration: none;
    font-weight: 500;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 4%;
}

.cancelar {
    font-family: "Poppins", serif;
    border: 1px solid #E43A12;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    color: #E43A12;
    font-weight: 500;
}

.cancelar:hover {
    background-color: #f0f0f0;
}

.validar {
    font-family: "Poppins", serif;
    border: 1px solid #E43A12;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #E43A12;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
}

.validar:hover {
    background-color: #F3541C;
}

.ilustracao {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: #2135A6;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.ilustracao__img {
    margin-top: 140px;
}

.rodape {
    background-color: #19029b;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
}

.rodape__icon {
    width: 40px;
    height: 40px;
    padding: 1%;
}

.rodape__icon:hover {
    width: 42px;
    height: 42px;
}

.direitosAutorais {
    color: rgb(132, 132, 132);
}

.paragrafo__selecao {
    color: #57534E;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
}

@media(max-width: 1200px) {
    .conteudo {
        flex-direction: column;
        justify-content: center;
    }

   .formulario {
        display: flex;
        align-items: center;
        margin: 0;
    }
}

@media(max-width: 600px) {

    .input__big {
        width: 400px;
    }

    .input__medium {
        width: 250px;
    }

    .input__small {
        width: 126px;
    }

    .label__file {
        width: 400px;
    }

    .label__file.error {
        width: 400px;
    }

    .elementos_selecao {
        flex-direction: column;
        align-items: center;
    }
    
    .titulo__nivel2 {
        text-align: center;
    }

    .paragrafo__selecao {
        text-align: center;
    }

    .link__voltar {
        margin-left: 11%;
    }

    .texto__titulo {
        margin-left: 11%;
    }

    .texto__paragrafo {
        margin-left: 11%;
    }


    .ilustracao {
        display: none;
    }

}

.obrigatorio {
    color: red;
}



.formulariologin {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}